body {
  display: relative;
  background: linear-gradient(to right, #1e1e1e, #121212);
  color: #ffffff;
  font-family:monospace;
  font-weight: 100;
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body::before {
  content: "";
  position: absolute;
  inset: -100%;
  background: url("bg.jpg") 0 0 repeat;
  background-size: 200px;
  width: 200%;
  z-index: -1;
  height: 200%;
  animation: bg-animation 5s linear infinite;
}

@keyframes bg-animation {
  0% {
    transform: skewX(35deg) translateX(0px) translateY(0px);
  }

  100% {
    transform: skewX(35deg) translateX(200px) translateY(200px);
  }
}

a {
  all: unset;
  cursor: pointer;;
}

a:hover {
  opacity: 75%;
}

a:active {
  opacity: 50%;
}

.main-section {
  box-shadow: 4px 4px 24px rgba(255, 255, 255, 0.5);
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
}

.titlebar {
  justify-content: start;
  display: flex;
  padding: 0.25rem 0.65rem;
  background: #252526;
  font-size: 2.5rem
}

.window-content {
  background-color: #0C0C0C;
  padding: 0.2rem;
  border: #252526 0.65rem solid;
  border-top: 0;
  text-align: left;
  font-size: 1.5rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.prompt {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.cursor {
  animation: 1s blink infinite steps(1, end);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#window {
  position: absolute; 
  user-select: none;
}

#draggable {
    cursor: grab;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}
